[Unit]
Description=LBRY Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/tmp/
ExecStart=lbrynet start

[Install]
WantedBy=multi-user.target
